modules = ["php-8.2", "web", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["php81", "php81Packages.composer"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t public"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
